@model MvcProject.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ekle</h2>

<form class="form-group" method="post">
    <div>
      
        <div>
            <label>Müşteri Ad</label>
            @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color: red;" })
        </div>
     
    </div>
    <div>
        <div>
            <label>Müşteri Soyad</label>
            @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MusteriSoyad, "", new { @style = "color: red;" })
        </div>

    </div>
    <div style="margin-top: 15px;">
        <button class="btn btn-info "> Müşteri Ekle</button>
    </div>
</form>
