
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>Ekle</h2>

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd" />
    </div>
    <div style=" margin-top: 5px;">
        <button class="btn btn-info"> Kategori Ekle</button>
    </div>
</form>
